.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005454;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #dee4e4;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    border-radius: 0 19px 19px 0px;
    @media (max-width: 769px) {
        border-radius: 19px;
        width: 90%;
    }
}

.form-fields{
    display: flex;
    flex-direction: column;
}

.elements{
    display: flex;
    justify-content: center;
}


.logo-container{
    background-color: #fff;
    border-radius: 19px 0 0 19px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    @media (max-width: 769px) {
        display: none;
    }
}

.state-country{
    display: flex;
    gap: 10px;
    @media (max-width: 550px) {
        flex-direction: column;
        gap: 5px;
    }
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
